body{
	background: #999;
	font-family: arial;
	margin: 0;
}

header{
	
}

#dungeon1{
	background-image: url("stonewall.png");
	padding: 5px;
}

#home1{

	background-image: url("logo.png");
	padding: 5px;
}

nav ul{
	margin: 0;
}

nav ul li{
	color: #000;
	display: inline-block;
	list-style-type: none;
}

header h1{
	color: red;
	
}


h2{
	color: #555;
}

nav ul li a .nav-link{
	color: red;
}

p{
	background: #666;
	color: white;
	padding: 10px;
}

.dungeon{
	background: #666

}

.dungeon .center {
    margin: auto;
    width: 50%;
    border: 3px solid #666;
    padding: 10px;
}

output {
	background: white;
	color: #000;
	padding: 5px;
}


